{extend name="admin@public/content_frame" /}
{block name="table_form"}
<?php
if (!isset($keyword)) {
    $keyword = "";
}
?>
<form class="layui-form form-inline" method="post" action="{:\think\\Request::instance()->url()}">
    <table class="layui-table -group">
        <tr>

            <td class="input-group">

                <div class="field has-addons">
                    <p class="control">
                        <a class="button is-static">
                            用户名
                        </a>
                    </p>
                    <p class="control">
                        <input class="input" name="user_name" value="{$s_user_name}" type="text" placeholder="用户名">
                    </p>

                </div>


            </td>

            <td class="input-group">
                <div class="field has-addons">
                    <p class="control">
                        <a class="button is-static">
                            用户ID
                        </a>
                    </p>
                    <p class="control">
                        <input class="input" name="user_id" value="{$s_user_id}" type="text" placeholder="用户ID">
                    </p>

                </div>
            </td>

            {foreach $filter_info.fields as $k=>$field}
            <td class="input-group"><div class="layui-inline">    {$field.slug} :
                    <select name="{$field.field_name}"  class="layui-select" lay-ignore="">
                        <option value="">{$field.slug}</option>
                        {foreach $field.options as $option}
                        <option value="{$option.id}" {if $field.selected==$option.id} selected {/if}  href="{$option.href}"> {$option.name}</option>
                        {/foreach}
                    </select>
                </div></td>
            {/foreach}


            <td><input type="submit" value="搜索" class="layui-btn btn-success"/></td>
            </td></tr>
    </table>
</form>
{/block}

{block name="main"}
<div class="tableBox" >
    <table class="layui-table table-bordered" lay-size="sm">
        <tr bgcolor="#F5F6FA" height="35px;" style="color:#333; font-size:16px; line-height:35px;">
            <td>ID</td>
            {foreach $field_list as $field}
            <td>{$field['slug']}</td>
            {/foreach}
            <td>{:zlang('操作')}</td>
        </tr>
        {foreach $lists as $item}
        <?php
            $_item = \app\common\model\Models::get_item($item['id'], $content_model_id);
            $user = \app\common\model\Users::get(['id'=>$_item['user_id']]);
            $_item['user_id'] = $user ? $user['user_name'] : $_item['user_id'];
        ?>
        <tr>
            <td>{$item.id}</td>
            {foreach $field_list as $field}
            <td><pre>{$_item[$field['field_name']]}</pre></td>
            {/foreach}
            <td>
                <?php
                $mapping = $item;
                ?>
                {volist name="sub_menu" id="menu"}
                {eq name="menu.user_menu_display" value="0"}
                {:build_back_a($menu['id'],$menu['user_menu_params'],zlang($menu['user_menu_name']),$menu['user_menu_mini'],$menu['class'],'90%','80%' , $mapping)}
                {/eq}
                {/volist}
            </td>
        </tr>

        {/foreach}

    </table>

    <div>{$lists->render()}</div>
</div>
<div>
</div>
{/block}
