{extend name="admin@public/content_frame" /}
{block name="main"}
<form id="cate_action" action="{:\think\\Url::build('menu/update')}" target="zbn_cms" method="post">
    <div class="tableBox">
        <table class="layui-table" style="">
            <tr bgcolor="#F5F6FA" height="35px;" style="color:#333; font-size:16px; line-height:35px;">
                <td>{:zlang('config,name')}</td>
                <td>{:zlang('所属站点')}</td>
                <td>{:zlang('description')}</td>
                <td>{:zlang('operation')}</td>
            </tr>
            {foreach $list as $var}
            <?php
            $site = $citys[$var['site_id']];
            ?>
            <tr class="menu_level1" >
                <td style="">{$var['config_name']}</td>
                <td style="">{$site['site_name']}</td>
                <td style="">{$var['config_description']}</td>
                <td style="text-align:center;">
                    <?php
                        $params = array("id"=>$var['config_id']);
                    ?>
                    {volist name="sub_menu" id="menu"}
                    {eq name="menu.user_menu_display" value="0"}
                    <?php
                    $mini = $menu['user_menu_mini'];
                    $btn_class = strpos($menu['user_menu_name'],"delete")=== false ?  'btn btn-default' : "btn btn-danger";
                    ?>
                    {:build_back_a($menu['id'],$params,zlang($menu['user_menu_name']),$mini,$menu['class'],'90%','80%')}
                    {/eq}
                    {/volist}
                </td>
            </tr>
            {/foreach}
        </table>
    </div>
</form>
{/block}