{extend name="admin@public/content_frame" /}
{block name="main"}
<form id="cate_action" class="form-horizontal" action="" target="zbn_cms" method="post">

                <table class="layui-table" style="">
                    <tr bgcolor="#F5F6FA" height="35px;" style="color:#333; font-size:16px; line-height:35px;">
                        <td>{:lang('config_name')}</td>
                        <td>{:lang('config_data')}</td>
                    </tr>
                    <tr>
                        <td>{:lang('root_host')}</td>
                        <td>
                            <input type="text" class="layui-input" name="{$key}[root_host]" value="{$config.root_host}"/> <label>{:lang('like')} baidu.com OR sh5.in</label>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="submit" class="layui-btn layui-btn-small " />
                        </td>
                    </tr>
                </table>
        </form>
{/block}




