{extend name="admin@public/content_frame" /}

{block name="sub-menu-top"}{/block}
{block name="main"}
<script src="/statics/plugins/ztree/js/jquery.ztree.all.min.js"></script>
<link rel="stylesheet" href="/statics/plugins/ztree/css/zTreeStyle/zTreeStyle.css" type="text/css">

<SCRIPT type="text/javascript">
    <!--
    var setting = {
        check: {
            enable: true
        },
        key : {
            name : 'user_menu_name',
            title: "user_menu_name"
        } ,
        data: {
            simpleData: {
                idKey : "id" ,
                pIdKey: "user_menu_parentid",
                enable: false
            }
        },
        callback: {
            onCheck: onCheck
        }
    };

    function onCheck(e, treeId, treeNode) {
        console.log(treeNode);
        var treeObj=$.fn.zTree.getZTreeObj("treeDemo"),
            nodes=treeObj.getCheckedNodes(true),
            v="";
        for(var i=0;i<nodes.length;i++){
            v+=nodes[i].id + ",";
        }
        var url = "{:\think\\Request::instance()->url()}";
        $.post(url , {
            menu_ids : v
        } , function (data) {
            layer.msg(data.msg);
        });
    }

    var zNodes = {:json_encode($menus)};

    $(document).ready(function(){
        $.fn.zTree.init($("#treeDemo"), setting, zNodes);
    });
    //-->
</SCRIPT>
<div class="content_wrap">
    <div class="zTreeDemoBackground left">
        <ul id="treeDemo" class="ztree"></ul>
    </div>

</div>
{/block}
