<div class="layui-container">
    <div class="layui-row">
        <form class="layui-form form-inline" target="zbn_cms" method="post"
              action="{:\think\\Request::instance()->url()}">
            <br>
            {volist name="list" id="item"}
            <div class="layui-form-item">
                <label class="layui-form-label">{$item['slug']}</label>
                <div class="layui-input-block">
                    {$item['form_str']}
                </div>
            </div>
            {/volist}

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="*">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
            <!--<label class="layui-form-label">代理地区</label>-->
            <!--<select name="area_province" class="init_select" id="province"-->
            <!--data-value="{$area_province}">-->
            <!--<option value="">-&#45;&#45;省份-&#45;&#45;</option>-->
            <!--</select>-->
            <!--<select name="area_city" class="init_select" id="city" data-value="{$area_data}">-->
            <!--<option value="">-&#45;&#45;城市-&#45;&#45;</option>-->
            <!--</select>-->
            <!--<select name="area_area" class="init_select" id="country" data-value="{$area_data}">-->
            <!--<option value="">-&#45;&#45;区县-&#45;&#45;</option>-->
            <!--</select>-->

            <!--<div class="layui-form-item">-->
            <!--<div class="layui-input-block">-->
            <!--<button class="layui-btn" lay-submit lay-filter="*">立即提交</button>-->
            <!--<button type="reset" class="layui-btn layui-btn-primary">重置</button>-->
            <!--</div>-->
            <!--</div>-->
            <!--</form>-->
    </div>
