{extend name="admin@public/content_frame" /}

{block name="table_form"}
<form class="layui-form form-inline" method="post" action="{:\think\\Request::instance()->url()}">
    <table class="layui-table -group">
        <tr>
            <td class="input-group">
                <div class="field has-addons">
                    <p class="control">
                        <a class="button is-static">
                            小区名称
                        </a>
                    </p>
                    <p class="control">
                        <input class="input" name="xiaoqu_name" value="{$xiaoqu_name}" type="text" placeholder="小区名称">
                    </p>
                </div>
            </td>
            <td><input type="submit" value="搜索" class="layui-btn btn-success"/></td>
        </tr>
    </table>
</form>
{/block}

{block name="main"}
<div class="tableBox">

    <form name="myform" class="layui-form form-inline" id="cate_action" action="" target="zbn_cms" method="post">
        <table class="layui-table table-bordered" lay-size="sm">
            <tr bgcolor="#F5F6FA" height="35px;" style="color:#333; font-size:16px; line-height:35px;">
                <td width="25">
                    <input type="checkbox" @mouseout="re_render_check_box" :checked="check_all" lay-ignore data-chain="chain" mini="chain">
                </td>
                <!--left operate menu-->
                {volist name="sub_menu" id="menu"}
                {eq name="menu.user_menu_display" value="3"}
                <?php $res = build_back_a($menu['id'],$menu['user_menu_params'],"<i class='".$menu['user_menu_icon']."'></i>
                ",$menu['user_menu_mini'],' ' ,'90%','80%' , $mapping);
                $skip = true;
                if($res != "-"){
                $head_operations[] = $res;
                $skip = false;
                }
                ?>
                {if !$skip}
                <td width="10">{:zlang($menu['user_menu_name'])}</td>
                {/if}
                {/eq}
                {/volist}

                <td>ID</td>
                {foreach $field_list as $field}
                <td>{$field['slug']}</td>
                {/foreach}
                <td>{:zlang('操作')}</td>
            </tr>
            {foreach $lists as $item}
            <?php $mapping = $item;?>
            <?php $_item = \app\common\model\Models::get_item($item['id'], $content_model_id);?>
            <tr>
                <td><input type="checkbox" class="chain" lay-ignore name="ids[]" v-model="rec_ids" value="{$item['id']}"/></td>

                <!--left operate menu-->
                {volist name="sub_menu" id="menu"}
                {eq name="menu.user_menu_display" value="3"}
                <?php $res = build_back_a($menu['id'],$menu['user_menu_params'],"<i class='".$menu['user_menu_icon']."'></i>
                ",$menu['user_menu_mini'],' ' ,'90%','80%' , $mapping);
                $skip = true;
                if($res != "-"){
                $skip = false;
                }
                ?>
                {if !$skip}
                <td width="10">{$res}</td>
                {/if}
                {/eq}
                {/volist}
                <!--left operate menu-->


                <td>{$item.id}</td>
                {foreach $field_list as $field}
                <td>
                    <pre>{$_item[$field['field_name']]}</pre>
                </td>
                {/foreach}
                <td>
                    {volist name="sub_menu" id="menu"}
                    {eq name="menu.user_menu_display" value="0"}
                    {:build_back_a($menu['id'],$menu['user_menu_params'],zlang($menu['user_menu_name']),$menu['user_menu_mini'],$menu['class'],'90%','80%'
                    , $mapping)}
                    {/eq}
                    {/volist}
                </td>
            </tr>

            {/foreach}

        </table>
    </form>

</div>

<div class="ui modal">
    <i class="close icon"></i>
    <div class="header">
        请选择您想要展示这些信息的位置 然后点击保存
    </div>
    <div class="image content">
        <div class="description">
            <p>
            <div v-for="position in positions">
                <div class="ui checkbox">
                    <input type="checkbox" v-model="position_ids" v-bind:value="position.id">
                    <label>{{position.position_name}}</label>
                </div>

            </div>
            </p>
        </div>
    </div>
    <div class="actions">
        <div class="ui black deny button">
            关闭
        </div>
        <div class="ui positive right labeled icon button">
            保存
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>

<script>
    layui.use(['form', 'layer'], function () {

    });
    require(['jquery', 'Vue', 'semantic'], function ($, Vue, semantic) {


        //positions
        var positions = {
    :
        json_encode($positions)
    }
        ;
        var rec_position_api = "{:url('advertise/admin_service/rec_position_data')}";

        var vm = new Vue({
            el: "#mhcms_app",
            data: {
                check_all: false,
                rec_ids: [],
                show_modal: false,
                positions: positions,
                model_id: "{$content_model_id}",
                position_ids: []
            },
            methods: {
                save_position_data: function () {
                    var that = this;
                    console.log(that.position_ids);

                    layer.open("open");
                    $.post(rec_position_api, {
                        position_ids: that.position_ids,
                        rec_ids: that.rec_ids,
                        model_id: "{$content_model_id}"
                    }, function (data) {
                        layer.open("close");
                        layer.msg(data.msg);
                    }, 'json');
                },
                re_render_check_box: function () {
                    var that = this;
                    $.each($('input.chain:checkbox'), function () {
                        var id = parseInt($(this).val());
                        var idIndex = that.rec_ids.indexOf(id);
                        if ($(this).prop('checked')) {
                            if (!isNaN($(this).val())) {
                                if (idIndex >= 0) {
                                    console.log(idIndex);
                                } else {
                                    // 选中该checkbox
                                    that.rec_ids.push(id)
                                }
                            }
                        } else {
                            if (!isNaN($(this).val())) {
                                if (idIndex >= 0) {
                                    that.rec_ids.splice(idIndex, 1)
                                }
                            }
                        }
                    });
                },
                position_data: function () {
                    var that = this;
                    this.re_render_check_box();
                    if (that.rec_ids.length === 0) {
                        layer.msg('对不起，请至少选择一项');
                    } else {
                        $('.ui.modal').modal({
                            closable: false,
                            onDeny: function () {
                                return true;
                            },
                            onApprove: function () {
                                if (that.position_ids.length <= 0) {
                                    layer.msg('对不起，请至少选择一个推荐位置');
                                    return false;
                                } else {
                                    that.save_position_data();
                                }

                            }
                        }).modal('show');
                    }
                }
                , do_check: function (id) {
                    var idIndex = this.rec_ids.indexOf(id)
                    if (idIndex >= 0) {
                        // 如果已经包含了该id, 则去除(单选按钮由选中变为非选中状态)
                        this.rec_ids.splice(idIndex, 1)
                    } else {
                        // 选中该checkbox
                        this.rec_ids.push(id)
                    }

                }
            }
        });
    });
</script>
{/block}
