<!DOCTYPE html>
<?php
global $_W;
?>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$_W['global_config']['system_name']}</title>
    <meta name="keywords" content="鸣鹤CMS后台管理" />
    <meta name="description" content="鸣鹤CMS后台管理" />
    <meta name="Author" content="鸣鹤CMS" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="Shortcut Icon" href="/favicon.ico" />
    <!-- load css -->
    <link rel="stylesheet" type="text/css" href="/statics/components/layui/css/layui.css" media="all">
    <link rel="stylesheet" type="text/css" href="/statics/css/admin/gobal.css" media="all">
    <link rel="stylesheet" type="text/css" href="/statics/css/admin/animate.css" media="all">
    <link rel="stylesheet" type="text/css" href="/statics/css/admin/login.css" media="all">
    <script>
        if (window.top !== window.self) {
            window.top.location = window.location;
        }
    </script>
</head>
<body>

<iframe name="zbn_cms" id="zbn_cms" class="hidden" style="display: none"></iframe>
<div class="larry-main layui-layout animated shake larry-delay2" id="larry_login">
    <div class="title">{$_W['global_config']['system_name']}</div>
    <p class="info">后台登录中心</p>
    <div class="user-info">
        <?php
        $logo = render_file_id($_W['global_config']['data']['logo']) ;
        ?>
        <div class="avatar"><img src="{$logo|default='/statics/images/logo.png'}" alt="" style="width: 100px;border-radius: 50%;background-color: #6cb5fc;"></div>
        <form class="layui-form" target="zbn_cms" id="larry_form" method="post" action="{:url('admin/passport/login')}">
            <div class="layui-form-item">
                <label class="layui-form-label">用户名:</label>
                <input type="text" name="data[admin_user_name]" required  lay-verify="required" aautocomplete="off" class="layui-input larry-input" placeholder="请输入您的用户名">
            </div>
            <div class="layui-form-item" id="password">
                <label class="layui-form-label">密码:</label>
                <input type="password" name="data[pass]" required lay-verify="required|password" aautocomplete="off" class="layui-input larry-input" placeholder="请输入您的登录密码">
            </div>
            <div class="layui-form-item larry-verfiy-code" id="larry_code" style="display: none">
                <input type="text" name="code" lay-verfy="" aautocomplete="off" class="layui-input larry-input layui-disabled" placeholder="输入验证码"  disabled="disabled">
                <div class="code">
                    <div class="arrow"></div>
                    <?php
                    $src = new_better_furl(['r'=>'captcha/index.index']);

                    ?>
                    {:nbtoken();}
                    <div class="code-img"><img src="{$src}" alt="" class="layui-disabled" id="codeimage" disabled="disabled"></div>
                    <a id="change" class="change layui-disabled" disabled="disabled" title="看不清,点击更换验证码"><i></i></a>
                </div>
            </div>
            <div class="layui-form-item">
                <button class="layui-btn larry-btn" lay-filter="submit" lay-submit>立即登录</button>
            </div>
        </form>
    </div>
    <div class="copy-right">© 2016-2017 {$_W['global_config']['copyright']} </div>
</div>
<!-- 加载js文件-->
<script type="text/javascript" src="/statics/components/layui/layui.js"></script>
<script type="text/javascript" src="/statics/js/admin/gobal.js"></script>
<script type="text/javascript" src="/statics/js/admin/login.js"></script>
<script type="text/javascript" src="/statics/js/admin/base_common.js"></script>
</body>
</html>

