
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{:nb_url(['r'=>'info/index/index'])}">{$site.site_name}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown {if ROUTE_M == 'info'}active{/if}">
                    <a href="{:nb_url(['r'=>'info/index/lists'])}" class="">同城信息<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{:nb_url(['r'=>'o2o/site/change'])}">切换地区</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">会员中心 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">我的发布</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a rel="nofollow" href="{:nb_url(['r'=>'sso/passport/logout' , 'site_id'=>$site['id']] )}">注销登录</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>