{extend name="admin@public/content_frame" /}

{block name="table_form"}
<?php
if(!isset($keyword)){
    $keyword = "";
}
?>
<form class="form-inline" method="get" action="">
    <table class="layui-table form-group">
        <td class="input-group">
            <input type="text" name="keyword" value="{$keyword}" class="layui-input form-control" /></td>
        <td><input type="submit" value="搜索"  class="layui-btn btn-success" /></td>
        </td></table>
</form>
{/block}


{block name="main"}
<div class="tableBox">
    <table class="layui-table table-bordered" style="">
        <tr bgcolor="#F5F6FA" height="35px;" style="color:#333; font-size:16px; line-height:35px;">
            <td>ID</td>
            {foreach $field_list as $field}
            <td>{$field['slug']}</td>
            {/foreach}
            <td>{:zlang('操作')}</td>
        </tr>
        {foreach $lists as $item}
        <?php
        $_item = \app\common\model\Models::get_item($item['id'], $content_model_id);
        ?>
        <tr>
            <td>{$item[$model_info.id_key]}</td>
            {foreach $field_list as $field}
            <td><pre>{$_item[$field['field_name']]}</pre></td>
            {/foreach}
            <td>
                <?php
                $mapping = $item;
                ?>
                {volist name="sub_menu" id="menu"}
                {eq name="menu.user_menu_display" value="0"}
                {:build_back_a($menu['id'],$menu['user_menu_params'],zlang($menu['user_menu_name']),$menu['user_menu_mini'],$menu['class'],'90%','80%' , $mapping)}
                {/eq}
                {/volist}
            </td>
        </tr>

        {/foreach}

    </table>

</div>
<div>
    {:$lists->render()}
</div>
{/block}
