<div class="layui-container">
    <div class="layui-row">
        <form class="layui-form form-inline" target="zbn_cms" method="post"
              action="{:\think\\Request::instance()->url()}">
            <br>

            <div class="layui-form-item">
                <label class="layui-form-label">选项名称</label>
                <div class="layui-input-block">
                    <input placeholder="" name="data[option_name]" id="option_name"
                           value="" class="layui-input" type="text">
                </div>
            </div>

            <div class="layui-form-item" id="row_model_id">
                <label class="layui-form-label">所属类型</label>
                <div class="layui-input-block">
                    <select class="layui-input" name="data[model_id]">
                        <option value="0">请 选择</option>
                        <option value="553" selected=""> 二手房源</option>
                        <option value="673"> 出租房源</option>
                    </select>
                    <div class="layui-unselect layui-form-select">
                        <div class="layui-select-title"><input placeholder="请选择" value=" 二手房源"
                                                               readonly=""
                                                               class="layui-input layui-unselect"
                                                               type="text"><i
                                class="layui-edge"></i></div>
                        <dl class="layui-anim layui-anim-upbit">
                            <dd lay-value="0" class="">请 选择</dd>
                            <dd lay-value="553" class="layui-this"> 二手房源</dd>
                            <dd lay-value="673" class=""> 出租房源</dd>
                        </dl>
                    </div>
                </div>
            </div>

            {if $field_name=='size' || $field_name == 'price'}
            <div class="layui-form-item">
                <label class="layui-form-label">最大区间(平米／万)</label>
                <div class="layui-input-block">
                    <input placeholder="请输入整数" name="data[top]" id="top"
                           value="" class="layui-input" type="number">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">最小区间(平米／万)</label>
                <div class="layui-input-block">
                    <input placeholder="请输入整数" name="data[bot]" id="bot"
                           value="" class="layui-input" type="number">
                </div>
            </div>
            {/if}

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="*">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>

        </form>
    </div>

</div>
<script>
    layui.use(['layer', 'form'], function () {
        var form = layui.form;
        var $ = layui.$;
        form.render();


    });

</script>