{extend name="admin@public/content_frame" /}
{block name="mhcms-header"}
自定义字段选项
{/block}
{block name="main"}
<div class="larry-body-content clearfix">



    <div class="sub-menu-top">

        <div class="clearfix"></div>
    </div>



    <div class="text-info">

    </div>


    <a class="layui-btn" mini="iframe" href="/core/admin_options/index/field_name/size.html">面积管理</a>
    <a class="layui-btn" mini="iframe" href="/core/admin_options/index/field_name/price.html">价格管理</a>
    <a class="layui-btn" mini="iframe" href="/core/admin_options/index/field_name/use.html">用途管理</a>
    <a class="layui-btn" mini="iframe" href="/core/admin_options/index/field_name/set.html">租房配置</a>
    <a class="layui-btn" mini="iframe" href="/core/admin_options/index/field_name/tag.html">标签管理</a>





</div>


{/block}