{extend name="admin@public/content_frame" /}
{block name="table_form"}
{/block}

{block name="main"}
<table class="layui-table" style="">
    <tr>
        <th>模块名称</th><th>标志</th><th>介绍</th><th>作者</th><th>操作</th>
    </tr>
    {foreach $miniapp_lists as $miniapp}
    <?php
    $_module = module_exist($miniapp['app_sign']);
    ?>

    <tr>
        <td>{$miniapp.app_name}</td>
        <td>{$miniapp.app_sign}</td>
        <td>{$miniapp.description}</td>
        <td>{$miniapp.author}</td>
        <td>
            <?php
            $mapping['module'] = $module['app_sign'];
            $mapping['id'] = $_module['id'];
            ?>
            {volist name="sub_menu" id="menu"}
            {eq name="menu.user_menu_display" value="0"}
            {:build_back_a($menu['id'],$menu['user_menu_params'],zlang($menu['user_menu_name']),$menu['user_menu_mini'],"",'90%','80%' , $mapping)}
            {/eq}
            {/volist}
        </td>
    </tr>
    {/foreach}
</table>
{/block}