@import "//at.alicdn.com/t/font_347998_3sro5e77v9ggb9.css";
*{
    box-sizing: border-box!important;
}
html{
    overflow: auto;
}
html {
    font-size: 62.5%; /*10 ÷ 16 × 100% = 62.5%*/
    min-height: 100%;
    -webkit-overflow-scrolling: touch;
}
.breadcrumb ,.button, .file-cta, .file-name, .input, .pagination-ellipsis, .pagination-link, .pagination-next, .pagination-previous, .select select, .textarea{
    font-size: 1.4rem;
}
body{
    font-size: 12px;
    font-family: "microsoft yahei";
}
.mhcms-container{
    margin: auto;    width: 1200px;
}
#mhcms-app{
    position: relative;min-height: 82vh;
}
[v-cloak] {
    display: none;
}
div.layui-upload-img{
    height: 100px;width: 100px;overflow: hidden;
}
div.layui-upload-img .layui-upload-img{
    max-width: 100%;display: block;margin: auto;
}
.mhcms-img-cover {
    position: absolute;
    bottom: 0;
    background: #000;
    left: 0;
    color: #33af34;
    line-height: 31px;
    text-align: center;
    width: 100%;
    opacity: 0.8;
}
.layui-form-label{
    min-width: 110px;
}

.img-wrap img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.larry-wrapper{
    margin: 15px;
    padding: 0px;
    border-radius: 3px;
    background: #ffffff;
    border: 1px solid #F1F2F7;
    box-shadow: 0px 1px 1px #F1F2F7;
}
.larry-body{
    margin: 0 auto;
    width: 100%;
    height: auto;
}
.larry-body .larry-body-header{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #EEEFF1;
    padding:0 20px;
    padding-left: 30px;
}
.larry-body .larry-body-header span.tit{
    line-height: 50px;
    font-size: 16px;
    color: #666666;
    font-weight: 300;
}
.larry-body .larry-body-content{
    padding: 20px;
    padding-right: 40px;
}

.layui-form .layui-form-item label.layui-form-label{
    width: 110px;
    font-family: "Microsoft YaHei";
}
.layui-input-block{
    margin-left: 112px;
    width: auto;
}
.layui-disabled{
    background: #EEEEEE;
    color: #595963 !important;
}
.layui-disabled:hover{
    color: #595963 !important;
}
.layui-input-block textarea{
    height: 90px;
}
/* ä¿®æ”¹å¯†ç  */
.larry-body .changepwd{
    padding-bottom: 60px;
}
.larry-body-content .change-submit{
    padding-top: 20px;
}
.larry-body-content .change-submit .larry-tj{
    margin-right: 20px;
}


#loadingToast .weui-icon_toast ,  #toast .weui-icon_toast{
    color: #fff;
    font-size: 25px;
}

.button.is-loading {
    font-size: 33px;
    padding: 0;
    line-height: 45px;    border: none;
}

.weui-mask, .weui-mask_transparent {
    background: #000;
    opacity: 0.6;
}



.loading_icon{
    width: 25px;
    border-radius: 50%;
    background: #0D9BF2;
}


#loadingToast , #toast{
    opacity: 0; display: none;
}
#loadingToast.show{
    opacity: 1; display: block;
}
#loadingToast .weui-toast , #toast .weui-toast{
    font-size: 25px;
}
#toast.show{
    opacity: 1; display: block;
}
.weui-toast .weui-toast__content{
    font-size: 12px;    margin-top: 10px;
}

.weui-toast{
    min-height: 3em;
}
/**
mhcms helpers
 */
.is-vcentered{
    vertical-align: middle;
}
/**
top nav
 */
.top-nav-bg {
    height: 50px;
    line-height: 49px;
    box-shadow: 0 5px 64px #ccc;background:#D51938 url(./images/newgif.gif) repeat-x 0 -666px;
}
#user-top a{
    padding: 0 12px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
}
#user-top a:hover{
    color: #fff;
    background: #bc0000;
}

/**
Logo Header
 */


.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
.pagination > li {
    display: inline;
}
.pagination > li > a,
.pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #337ab7;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    z-index: 2;
    color: #23527c;
    background-color: #eeeeee;
    border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    z-index: 3;
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
    cursor: default;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    color: #777777;
    background-color: #fff;
    border-color: #ddd;
    cursor: not-allowed;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}



.mhcms-list-item{
    padding: 10px;
    background: #fff;
    margin-bottom: 10px;
}
.mhcms-list-item .article{
    width: 100%;
}

.mhcms-list-item .article .item-title{
    font-size: 1.4rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


/** mhcms panel  */
.mhcms-list-item {
    display: flex;
    position: relative;
    line-height: 22px;
    width: 100%;
}

.mhcms-list-item .image {
    max-height: 80px;
    overflow: hidden;
    width: 120px;
    flex: none;
}

.mhcms-list-item .thumb-image {
    width: 4.44rem;
    height: 3.32rem;
    border: 1px solid #f5f6fa;
    vertical-align: top;

    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    display: block;
    float: none;
    margin: 0;
    padding: 0;
    max-height: '';
    -ms-flex-item-align: top;
    align-self: top;

}

.mhcms-list-item .title {
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0;
    overflow: hidden;
    max-width: 100%;
    display: inline-block;
}

.mhcms-list-item .time {
    float: right;
    color: #ccc;
    text-align: right;
    padding: 0;
}

.mhcms-item .ui.mini.image {
    width: 45px;
}

.mhcms-item-content .header a {
    font-weight: 300;
    font-size: 14px;
}

.mhcms-list-item .content .extra {
    font-size: 1rem;
    color: #7a7a7a;
}
.bigtit {
    background-color: #f8f8f8;
    height: 62px;
    line-height: 62px;
    font-size: 20px;
    color: #000;
    padding-left: 30px;
    border-bottom: 1px solid #e4e4e4;
    font-weight: bold;
}

.mtags .mtag {
    padding: 2px 3px;
    font-size: 12px;
    margin-right: 5px;
}

.tag_0 {
    border: 1px solid #cde8c6;
    color: #619854;
}

.tag_1{
    color: #42b9cb;
    border: 1px solid #ddf5f8;
}

.tag_2{color:#b189d9;border:1px solid #f1e6fb;background:none!important;}

.tag_3{color:#ff9933;border:1px solid #fdefe4;background:none!important;}



.stag{ font-size: 11px;color:#565c67; overflow: hidden; *zoom:1;margin-top:4px;height:16px;}
.stag span{float: left; margin-right: 4px; line-height:13px; padding:0 3px; border:1px solid #e3e7ed;background:#fff;overflow:hidden;margin-bottom:1px;}
.stag span:last-child{margin-right:0;}
.stag span.yellowbg{background:#ff9933;border:1px solid #ff9933;color:#fff;}
.stag span.bluebg{background:#7fb6ff;border:1px solid #7fb6ff;color:#fff;}
.stag span.greenbg{background:#91d397;border:1px solid #91d397;color:#fff;}
.stag span.greenbg2{background:#63cd6d;border:1px solid #63cd6d;color:#fff;}
.stag span.pinkbg{background:#ffb7b7;border:1px solid #ffb7b7;color:#fff;}
.stag span.redbg{background:#ff6f6f;border:1px solid #ff6f6f;color:#fff;}
.stag span.graybg{background:#f2f4f8;border:1px solid #f2f4f8;color:#565c67;}
.stag span.blue-b{color:#5aa0fc;border:1px solid #e5f0ff;background:none!important;}
.stag span.green-b{color:#42b9cb;border:1px solid #ddf5f8;background:none!important;}
.stag span.greenB-b4e{color:#2daf3c;border:1px solid #b4e7ba;background:none!important;}
.stag span.ora-b{color:#f78b1e;border:1px solid #ffd9bb;background:none!important;}
.stag span.pink-b{color:#ff7777;border:1px solid #fcd4d4;background:none!important;}
.stag span.red-b{color:#ff3333;border:1px solid #ffc8c8;background:none!important;}
.stag span.red-z{color:#ff7270;border:1px solid #ffe3e3;background:none!important;}


.mhcms-panel {
    background: #fff;font-size: 12px;
}

.mhcms-panel .mhcms-panel-header {
    position: relative;
    line-height: 3rem;
    padding: 0 15px;
    color: #333;
    border-radius: 2px 2px 0 0;
    font-size: 1.4rem;
}

.mhcms-panel-footer {
    position: relative;
    line-height: 3rem;
    padding: 0 15px;
    color: #333;
    border-radius: 2px 2px 0 0;
    font-size: 1.2rem;
}

.mhcms-panel-footer.more {
    background: #fff;
    text-align: center;
    display: block;
    color: #a9b6ca;
}

.mhcms-panel-footer.more a {
    color: #a9b6ca;
}


.copyright {
    height: 40px;
    line-height: 40px;
    background-color: #000;
    text-align: center;
    color: #999;
    font-size: 14px;
    font-family: 'Microsoft YaHei UI';
}

.nobor2 {
    padding: 5px;
    font-size: 14px;
    display: inline-block;
    text-decoration: none!important;
    line-height: 25px;
    text-decoration: none!important;
}