{extend name="admin@public/content_frame" /}
{block name="main"}
<form target="zbn_cms" class="layui-form" action="{:\think\\Request::instance()->url()}" method="post">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <fieldset class="layui-elem-field layui-field-title">
                    <legend>审核退款</legend>
                <table class="layui-table table-responsive">
                    <tr>
                        <td class="lfTdBt">{:lang('退款原因')}</td>
                        <td class="rgTdBt"><span>{$orders.refund_desc}</span></td>
                    </tr>
                    <tr>
                        <td class="lfTdBt">{:lang('是否同意')}</td>
                        <td class="rgTdBt"><label><input name="data[pass]" value="1" type="radio" checked="">同意</label>
                    <label><input name="data[pass]" value="0" type="radio">不同意</label></td>
                    </tr>
                    <tr>
                        <td class="lfTdBt">{:lang('处理意见')}</td>
                        <td class="rgTdBt"><textarea class="form-control" name="data[description]" style="width: 80%" rows="5"></textarea></td>
                    </tr>
                </table>
                </fieldset>

                <div class="smtQr"><input type="submit" value="提交" class="layui-btn layui-btn-small "/></div>
            </div>
        </div>
    </div>

</form>
<script>
    layui.use(['form'] , function () {
        var form = layui.form;
    });
</script>

{/block}