{extend name="admin@public/content_frame" /}
{block name="main"}
<form target="zbn_cms" class="layui-form" action="{:\think\\Request::instance()->url()}" method="post">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <fieldset class="layui-elem-field layui-field-title">
                    <legend>基础信息</legend>
                <table class="layui-table table-responsive">

                    <tr>
                        <td class="lfTdBt">用户名：</td>
                        <td class="rgTdBt">{$detail.user_name|default=''}</td>
                    </tr>
                    <tr>
                        <td class="lfTdBt">昵称：</td>
                        <td class="rgTdBt">{$detail.nickname|default=''}</td>
                    </tr>
                    <tr>
                        <td class="lfTdBt">密码：</td>
                        <td class="rgTdBt"><input type="password" name="data[pass]" value="" class="layui-input w150"/>
                        </td>
                    </tr>
                    {eq name="admin.user_role_id" value="1"}
                    <tr>
                        <td class="lfTdBt">角色：</td>
                        <td class="rgTdBt">
                            <select   name="data[user_role_id]" class="layui-input w150" >
                                {foreach name="roles" item="var"}
                                <option value="{$var.id}" {if $var.id==$detail.user_role_id} selected {/if} >{$var.role_name}</option>
                                {/foreach}
                            </select>
                            <code>必须选择正确的角色</code>
                        </td>
                    </tr>
                    {/eq}
                    <tr>
                        <td class="lfTdBt">手机：</td>
                        <td class="rgTdBt">
                            <input type="text" name="data[mobile]" value="{$detail.mobile|default=''}" class="layui-input w150"/>
                            <code>手机不能为空</code>
                        </td>
                    </tr>
                </table>
                </fieldset>

                {volist name="list" id="item"}
                {if $item['field_name'] != 'user_name' && $item['field_name'] != 'nickname'}
                <div class="layui-form-item">
                    <label class="layui-form-label">{$item['slug']}</label>
                    <div class="layui-input-block">
                        {$item['form_str']}
                    </div>
                </div>
                {/if}
                {/volist}

                {if isset($field_list)}
                <fieldset class="layui-elem-field layui-field-title">
                    <legend>扩展信息</legend>
                    <table class="layui-table" style="">
                        {volist name="field_list" id="item"}
                        <tr>
                            <td width="15%">{$item['slug']}</td>
                            <td>{$item['form_str']}</td>
                        </tr>
                        {/volist}
                    </table>
                </fieldset>
                {/if}
                <div class="smtQr"><input type="submit" value="确定编辑" class="layui-btn layui-btn-small "/></div>
            </div>
        </div>
    </div>

</form>

<script>
    layui.use(['form'] , function () {
        var form = layui.form;
    });
</script>

{/block}