{extend name="admin@public/content_frame" /}

{block name="table_form"}
<?php
if (!isset($keyword)) {
    $keyword = "";
}
?>
<form class="layui-form form-inline" method="post" action="{:\think\\Request::instance()->url()}">
    <table class="layui-table -group">
        <tr>

            <td class="input-group">

                <div class="field has-addons">
                    <p class="control">
                        <a class="button is-static">
                            用户名
                        </a>
                    </p>
                    <p class="control">
                        <input class="input" name="user_name" value="{$user_name}" type="text" placeholder="用户名">
                    </p>

                </div>


            </td>

            <td class="input-group">
                <div class="field has-addons">
                    <p class="control">
                        <a class="button is-static">
                            昵称
                        </a>
                    </p>
                    <p class="control">
                        <input class="input" name="nickname" value="{$nickname}" type="text" placeholder="昵称">
                    </p>

                </div>
            </td>

            <td class="input-group">
                <div class="layui-inline"> 角色 :
                    <select name="role_id"  class="layui-select" lay-ignore="">
                        <option value="">全部</option>
                        {foreach $roles as $role}
                            <option value="{$role['id']}" {if $roleId==$role.id} selected {/if}>{$role['role_name']}</option>
                        {/foreach}
                    </select>
                </div>
            </td>

            {foreach $filter_info.fields as $k=>$field}
                <td class="input-group"><div class="layui-inline">    {$field.slug} :
                <select name="{$field.field_name}"  class="layui-select" lay-ignore="">
                    <option value="">{$field.slug}</option>
                    {foreach $field.options as $option}
                    <option value="{$option.id}" {if $field.selected==$option.id} selected {/if}  href="{$option.href}"> {$option.name}</option>
                    {/foreach}
                </select>
            </div></td>
            {/foreach}


        <td><input type="submit" value="搜索" class="layui-btn btn-success"/></td>
        </td></tr>
    </table>
</form>
{/block}


{block name="main"}
<form target="zbn_cms" method="post" action="{:\think\\Url::build('menu/update')}">
    <div class="tableBox">
        <table class="layui-table">
            <tr>
                <td class="w50">ID</td>
                {foreach $field_list as $field}
                <td>{$field['slug']}</td>
                {/foreach}
                <td>昵称</td>
                <td>角色</td>
                <td>手机</td>
                <td>余额</td>
                <td>积分</td>

                <td>操作</td>
            </tr>
            {foreach name="list" id="var"}
            <?php
            $role = \app\common\model\UserRoles::get(['id'=>$var['user_role_id']]);
            ?>
            <tr class="{neq name="var.status" value="99"}disabled_1 {/neq}">

            <td>{$var.id}</td>
            {foreach $field_list as $field}
            <td><pre>{$var[$field['field_name']]}</pre></td>
            {/foreach}
            <td>{$var.nickname}</td>
            <td>{$role.role_name}</td>
            <td>{$var.mobile}</td>
            <td>{$var.balance}</td>
            <td>{$var.point}</td>
            <td>
                <?php
                ?>
                {neq name="var.id" value="1"}
                <?php
                $params = array("user_id" => $var['id']);
                ?>
                {volist name="sub_menu" id="menu"}
                {eq name="menu.user_menu_display" value="0"}
                {:build_back_a($menu['id'], $menu['user_menu_params'],zlang($menu['user_menu_name']),$menu['user_menu_mini'],"",'90%','80%',$var)}
                {/eq}
                {/volist}
                {/neq}

            </td>
            </tr>
            {/foreach}

        </table>
        {$page}
    </div>
</form>
{/block}
