{include file="index/head" /}
<div class="install-box">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>正在更新系统程序</legend>
    </fieldset>

    <table class="layui-table">
        <tr><td><span id="tips">正在下载文件 ， 请稍后</span> <span id="current_file"></span></td></tr>
    </table>
    <div class="step-btns">
        <a href="javascript:history.go(-1);" class="layui-btn layui-btn-primary layui-btn-big fl">返回上一步</a>
        <button type="submit" onclick="check_status()" class="layui-btn layui-btn-big layui-btn-normal fr" lay-submit="" lay-filter="formSubmit">下一步</button>
    </div>
</div>

<script>
    var next_step_url = "{:url('start_update' , ['step'=>5 ,  'module'=>$module])}";
    var files = {$files_to_update};
    var down_load_api = "{:url('download_file' ,['module'=>$module])}";


    function down_load(){

        layui.use(['layer'] , function () {
            var $ = layui.$ , layer = layui.layer;

            $("#current_file").html(files[0]);

            $.get(down_load_api , {
                file_path: files[0] , module : 'system'
            } , function (data) {
                console.log(data);
                if(data.code!=1){
                    layer.msg(data.msg);
                    return;
                }else{
                    files.splice(0 ,1);
                    if(files.length> 0){
                        setTimeout(function () {
                            down_load();
                        } , 100)

                    }else{
                        $("#tips").html("文件更新完成");
                        layer.msg("文件更新完成");
                    }
                }
            });
        });

    }

    layui.use(['layer'] , function () {

        var $ = layui.$ , layer = layui.layer;

        $(document).ready(function () {
            if(files.length> 0){
                down_load();
            }else{
                $("#tips").html("文件更新完成");
                layer.msg('文件更新完成', {
                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                }, function(){
                    //do something
                    check_status();
                });
            }
        });
    })

    function check_status() {
        if(files.length == 0){
            window.location.href=next_step_url;
        }else{
            layer.msg("请等待文件更新完成，再进入下一步");
        }
    }

</script>
{include file="index/foot" /}