{extend name="admin@public/content_frame" /}
{block name="main"}
<div class="tableBox">
    <table class="layui-table  " style="">
        <tr bgcolor="#F5F6FA" height="35px;" style="color:#333; font-size:16px; line-height:35px;">
            <td>ID</td>
            {foreach $field_list as $field}
            <td>{$field['slug']}</td>
            {/foreach}

            <td>{:zlang('operation')}</td>
        </tr>
        {foreach $lists as $item}
        <tr :class="{'active' : default_storge =='{$item.attach_sign}'}">
            <td>{$item.id}</td>
            {foreach $field_list as $field}
            <td>{$item[$field['field_name']]}</td>
            {/foreach}

            <td>
                {volist name="sub_menu" id="menu"}
                {eq name="menu.user_menu_display" value="0"}
                <?php
                $mapping = $item;
                $mini = $menu['user_menu_mini'];
                $btn_class = strpos($menu['user_menu_name'],"delete")=== false ?  'btn btn-default' : "btn btn-danger";
                ?>
                {:build_back_a($menu['id'],$menu['user_menu_params'],zlang($menu['user_menu_name']),$mini,$menu['class'],'90%','80%' , $mapping)}
                {/eq}
                {/volist}
            </td>
        </tr>

        {/foreach}

    </table>

</div>
<div>
    {:$lists->render()}
</div>

<script>
    new Vue({
        data : {
            default_storge : ""

        },
        el: "#mhcms_app",
        methods: {},
        created: function () {

        }
    });
</script>
{/block}
