{extend name="admin@public/content_frame" /}
{block name="main"}
<form action="" method="post" target="zbn_cms" class="layui-form layui-container">
    <div class="remote-qiniu layui-row" >

        <div class="alert alert-info">
            启用七牛云存储后，请把/attachment目录（不包括此目录）下的子文件及子目录上传至七牛云存储, 相关工具：<br>
            <ul class="link-list">
                <li><a target="_blank" href="https://portal.qiniu.com/signin" class="product-grey-font" >七牛云存储</a></li>
            </ul>
        </div>
        <div class="layui-form-item">
            <label class="col-sm-2 layui-form-label">Accesskey</label>
            <div class="layui-input-block">
                <input type="text" name="{$attach_sign}[accesskey]" class="layui-input" value="{$config['accesskey']}" placeholder="" />
                <span class="help-block">用于签名的公钥</span>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="col-sm-2 layui-form-label">Secretkey</label>
            <div class="layui-input-block">
                <input type="text" name="{$attach_sign}[secretkey]" class="layui-input encrypt" value="{$config['secretkey']}" placeholder="" />
                <span class="help-block">用于签名的私钥</span>
            </div>
        </div>
        <div class="layui-form-item" id="qiniubucket">
            <label class="col-sm-2 layui-form-label">Bucket</label>
            <div class="layui-input-block">
                <input type="text" name="{$attach_sign}[bucket]" class="layui-input" value="{$config['bucket']}" placeholder="" />
                <span class="help-block">请保证bucket为可公共读取的</span>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="col-sm-2 layui-form-label">Url</label>
            <div class="layui-input-block">
                <input type="text" name="{$attach_sign}[url]" class="layui-input" value="{$config['url']}" placeholder="" />
                <span class="help-block">七牛支持用户自定义访问域名。注：url开头加http://或https://  结尾加上 ‘/’   例：http://abc.com/</span>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="">
                <button name="submit" class="layui-btn layui-btn-primary" value="submit">保存配置</button>
            </div>
        </div>
    </div>
</form>
{/block}
