{extend name="admin@public/content_frame" /}

{block name="main"}
<style type="text/css">
.line-limit-length {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; //文本不换行，这样超出一行的部分被截取，显示...
}
</style>
<div class="tableBox" >
    <table class="layui-table table-bordered" lay-size="sm">
        <tr bgcolor="#F5F6FA" height="35px;" style="color:#333; font-size:16px; line-height:35px;">
            <td>ID</td>
            {foreach $field_list as $field}
            <td>{$field['slug']}</td>
            {/foreach}
            <td>{:zlang('操作')}</td>
        </tr>
        {foreach $lists as $item}
        <tr>
            <td>{$item.id}</td>
            {foreach $field_list as $field}
            {if $field['field_name'] == 'user_id'}
            <?php
                $users = \app\common\model\Users::get($item['user_id']);
            ?>
            <td><pre>{$users['nickname']}</pre></td>
            {elseif $field['field_name'] == 'content'}
            <td><pre class="line-limit-length" style="max-width: 300px;">{$item[$field['field_name']]}</pre></td>
            {else}
            <td><pre>{$item[$field['field_name']]}</pre></td>
            {/if}
            {/foreach}
            <td>
                <?php
                $mapping = $item;
                ?>
                {volist name="sub_menu" id="menu"}
                {eq name="menu.user_menu_display" value="0"}
                {if $user_id == $item['user_id'] || $menu['id'] == 354}
                {:build_back_a($menu['id'],$menu['user_menu_params'],zlang($menu['user_menu_name']),$menu['user_menu_mini'],$menu['class'],'90%','80%' , $mapping)}
                {/if}
                {/eq}
                {/volist}
            </td>
        </tr>

        {/foreach}

    </table>

</div>
<div>
</div>
{/block}
